/* SECCION  */

#in-about{
    height: 800px;
    
}

/* CONTENEDOR */

.about-container{
    min-height: min-content;
    margin: auto;   
}

/* PRESENTACION EMPRESA */

.presentacion-empresa{
    height: 40%;
    width: 80%;
    text-align: center;
    margin: 20px 20px;
}

/* INFO EMPRESA */

.empresa-info{
    height: 55%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px;
}

/* MISION - VISION - VALORES */
.empresa-info > *{
    height: 100%;
    width: 100%;
}

.info-img{
    height: 200px;
    width: 200px;
    display: block;
    margin: auto;
    padding-top: 10%;
}


.info-p{
    height: 80%;
    width: 100%;
    text-align: center;
}

/* MISION */

.empresa-mision{
    text-align: center;
}
    

/* VISION */

.empresa-vision{
    text-align: center;
}


/* VALORES */

.empresa-valores{
    text-align: center;
}

