/* SECCION  */

#in-about{
    height: 700px;
  

}

/* CONTENEDOR */

.about-container{
    min-height: min-content;
    margin: auto;  

}

/* PRESENTACION EMPRESA */

.presentacion-empresa{
    height: 40%;
    width: 80%;
    text-align: center
}

/* INFO EMPRESA */

.empresa-info{
    height: 55%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* MISION - VISION - VALORES */
.empresa-info > *{
    height: 100%;
    width: 100%;
}

.info-img{
    height: 30%;
    width: 100%;
}

.info-p{
    height: 80%;
    width: 100%;
    text-align: center
}

/* MISION */

.empresa-mision{
 
    
}

/* VISION */

.empresa-vision{

}

/* VALORES */

.empresa-valores{

}