/* TITULO */

#pck-title{
    background-color: var(--color-white);
    box-shadow: inset 0 -7px 9px -7px #333;
    
}

#pck-title h2{
    background-color: var(--color-dark);
    color: var(--color-white);
    box-shadow: 0px 0px 7px 0px #333;
    font-weight: 400;
    height: 35px;
    clip-path: inset(-10px -10px 0px -10px);
    position: relative;
    z-index: 80;
}

/* CONTENEDOR */

#pck-container{
    min-height: 430px;
    padding: 15px 5px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    /* background-color: pink; */
}

/* TARJETAS */

.pck-grid-card{
    margin: 0 auto;
    height: 180px;
    width: 250px;
    /* background-color: coral; */
    box-shadow: 0 1px 3px 1px #222;
    position: relative;
    transition: all 0.5s;
    /* overflow: hidden; */
}

.pck-grid-card:hover{
    transform: translateY(-20px);
    box-shadow: 0 12px 10px 3px #222;
}

.pck-card-top{
    height: 180px;
    width: 100%;
}

.pck-card-top img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.pck-card-bot{
    position: absolute;
    bottom: 0px;
    text-align: center;
    height: 20px;
    width: 100%;
    background-color: rgba(255, 255, 255, .5);
}

.pck-card-bot h3{
    font-size: 11px;
}

.pck-card-active{
    transform: translateY(-20px);
    box-shadow: 0 12px 10px 3px #222;
}

.pck-card-bot p{

}
